#page-nav-wrap{
    width: 100%;
    border-bottom: 1px solid #6d6d6d;
}
#page-nav{
    margin: 0 auto;
    width: 1080px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #6d6d6d;  
}
.orderDetailwrap {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.orderDetail1 {
    font-size: 24px;
    font-weight: bold;
    color: #292929;
    margin-top: 20px;
    margin-bottom: 30px;
}
.orderDetail2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 40px;
    font-size: 16px;
    color: #292929;
    background-color: #fee469;
    border-radius: 5px;
}
.orderDetail2-1 {
    margin-left: 1.5%;
}
.orderDetail2-2 {
    margin-right: 1.5%;
}
.orderDetail3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid #505050;
}
.orderDetail3-1 {
    width: 130px;
    height: 130px;
    margin-right: 80px;
    overflow:hidden;
}
.orderDetail3-1 img{
	width:100%; height:100%;
}

.orderDetail3-2 {
    width: 430px;
    font-size: 18px;
    color: #292929;
    font-weight: bold;
}
.orderDetail3-3, .orderDetail3-4{
    display: flex;
    flex-direction: column;
}
.orderDetail3-3 {
    width: 100px;
    text-align: center;
}
.orderDetail3-3-1 {
    font-size: 18px;
    color: #3d5bf2;
    text-decoration: 1px underline;
    text-underline-position: under;
    margin-bottom: 10px;
    font-weight:bold;
}
.orderDetail3-3-2 {
    font-size: 18px;
    color: #292929;
    font-weight:bold;
}
.orderDetail3-3-3 {
    font-size: 14px;
    color: #505050;
}
.orderDetail3-4 {
    margin-left: 160px;
}
.orderDetail3-4-button {
    width: 100px;
    height: 35px;
    font-size: 16px;
    color: #292929;
    background-color: white;
    border: 1px solid #292929;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.btn1, .btn2 {
    margin-bottom: 5px;
}
.orderDetail3-4-button:hover {
    background-color: #fee469;
    border: none;
}
.orderDetail4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    color: #292929;
}
.orderDetail5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 3px solid #292929;
    border-bottom: 1px solid #292929;
    height: 50px;
}
.orderDetail5-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    height: 100%;
    width: 90px;
    color: #292929;
    padding:10px 0px; box-sizing:border-box; font-weight:bold;
}
.orderDetail5-2-sp1 {
    font-size: 24px;
    font-weight: bold;
    color: #292929;
}
.orderDetail5-2-sp2 {
    font-size: 18px;
    color: #292929;
}
.orderDetail6 {
    font-size: 24px;
    font-weight: bold;
    color: #292929;
}
.orderDetail7 {
    display: flex;
    flex-direction: row;
    border-top: 3px solid #292929;
    border-bottom: 1px solid #505050;
    margin-top: 10px;
    font-size: 16px;
    height: 133px;
   
}
.orderDetail7-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    background-color: #ebebeb;
    color: #292929;
}
.orderDetail7-1-1{
    display: flex;
    align-items: center;

}
.orderDetail7-1-2{
	padding:10px 0px; box-sizing:border-box; font-weight:bold;
	
}
.orderDetail7-1-1 {
    padding:10px 0px; box-sizing:border-box; font-weight:bold;
}
.orderDetail7-1-3 {
    padding:10px 0px; box-sizing:border-box; font-weight:bold;
}
.orderDetail7-2 {
    padding-left: 20px;
    color: #505050;
     width:100%;
}
.orderDetail7-2-1, .orderDetail7-2-2 {
    display: flex;
    align-items: center;
    height: 30px;
}
.orderDetail7-2-1 {
    margin-top: 5px;
}
.orderDetail7-2-3 {
    margin-top: 5px;
    width: 65%;
}