@charset "UTF-8";
  *{
        margin:0; padding:0; box-sizing: border-box;
    }
    .content-wrap{
        margin-top: 170px;
        margin-left: 20px;
        width:800px;        
        float:left;
       
    }
    .fontcolor292929{
        color:#292929;
    }
    div > .admin-title{
       font-size: 24px;
       font-weight: bold;
                
    }
    #user-infowrap > p{
        color:#505050; 
        font-size: 18px;
        margin: 100px 0 30px 0;
    }
    #user-infowrap table{
        width:90%;        
        border: 1px solid #ebebeb;
        border-collapse:collapse;
        box-sizing: border-box;
        border-bottom: none;
    }
    #user-infowrap table tr{
       line-height:35px;
        font-size: 14px;
        border-bottom:1px solid #ebebeb;
    }
    #user-infowrap table tr:nth-child(1n){
        width:33%;
        
    }
    #user-infowrap table tr:nth-child(2n){
        width:67%; 
    }
    #user-infowrap table tr td>input[type=text]{
        
        width: 100%; height:30px;
        line-height: 30px; font-size: 14px; color:#505050;
        border: none;
        padding-left: 10px; box-sizing: border-box;
      
    }
    #user-infowrap table tr td:first-child{
       width:150px;
       background-color:#ebebeb;
       padding-left: 10px;
       box-sizing: border-box;
    }
    #user-infowrap table tr td:nth-child(2n){
        
        color:#505050;
        
    }
    #user-infowrap  div{
        text-align: center;
        margin-top: 20px;
    }
    #user-infowrap  div input {
        border:1px solid #292929;
        border-radius: 5px;
        width: 100px; height: 35px; line-height: 35px; text-align: center;
        background-color:#ffffff;
        cursor: pointer;
        transition: 0.2s;
    }
    #user-infowrap  div input:hover {
        background-color:#fee469; border:none;
    }
    
    input[type=date]{
	border:0; background-color:#ffff;
	margin-left:10px; color:#505050;
	}
	button#delete{
	 	border:1px solid #292929;
        border-radius: 5px;
        width: 100px; height: 35px; line-height: 35px; text-align: center;
        background-color:#ffffff;
        cursor: pointer;
        transition: 0.2s;
	}
	button#delete:hover {
        background-color:#fee469; border:none;
    }