@charset "UTF-8";
*{margin: 0; padding: 0; list-style: none;}
a{
    text-decoration: none;
    color: #292929;
}
a:link{
    text-decoration: none;
    color: #292929;
}
.bold{
    font-weight: bold;
}

#aside-wrap{
    background-color: #ebebeb;
    text-align: center;
    position: fixed;
    width: 280px;
    height: 100%;
}
#aside-main{
    height: 100%;
    margin-top: 250px;
}
.aside-menu{
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    padding-left: 50px;
}
.aside-menu-item{
    margin-bottom: 10px;
}

.asidebar > li::before {
    display: inline-block;
    content: ' ';
    height: 1px;
    width: 7px;
    vertical-align: middle;
    margin-right: 5px;
    background-color: #292929;
}