@charset "UTF-8";
* {
    padding:0; margin:0;
}
#footerwrap{
    width: 100%;
    background-color: #555;
}
#footer{
    display: flex;
    flex: row;
    justify-content: space-around;
    height: 200px;
    width: 1080px;
    color: white;
    background-color: #555;
    margin: auto;
}
.footer-content>ul>li>a{
    text-decoration: none;
    color: white;
}
.footer-content>h4{
    font-weight: 500;
}
.footer-content>ul>li{
    margin-top: 10px;
    font-weight: 400;
}
.footer-content{
    margin-top: 30px;
}
.footer-content>img{
    margin-bottom: 10px;
    margin-right: 5px;
}
#sns {
   margin-top: 45px;
}