@charset "UTF-8";
    *{margin: 0; padding: 0;}
    #headerwrap{width: 100%; position: sticky;top:0; background-color: white; z-index: 5;}
    a{text-decoration: none;}
    /* ul{list-style: none;padding-left: 0;} */

    /* top */
    #top{
        margin: 0 auto;
        width: 1080px;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #top > ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #top > ul > li {
    	cursor: pointer;
        margin-right: 10px;
    }
    #top > ul > li:last-child{
        margin-right: 0;
    }
    #top > ul > li > a{
        color: #323231;
        font-size: 14px;
    }

    /* Header */
    #header{
        position: relative;
        margin: 0 auto;
        width: 1080px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #header p{
        position: relative;
        margin-left: 200px;
        width: 470px;
        height: 50px;
    }
    #header p img{
        position: absolute;
        right: 20px;
        top: 25%;
    }
    #header p input[type=text]{
        width: 100%;
        height: 100%;
        border: 0;
        text-align: center;
        border-radius: 15px;
        background-color: #ebebeb;
        font-size: 18px;
    }
    #header p input[type=text]:focus{
        outline: 1px solid #3d5bf2;
    }

    /* Menu */
    #menu{
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #ebebeb;
    }
    #menu > ul{
        width: 1080px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    #menu > ul > li > h1 > a{
        color: #4b4b4b;
        font-size:24px;
    }
    #menu > ul > li {
        position: relative;
    }
    .linkhover::before{
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        width: 0%;
        height: 3px;
        background-color: #fee469;
        transition: all 250ms ease-in-out;
    }
    .linkhover:hover::before{
        width: 100%;
        left: 0;
    }
    .ds-none{
        display: none;
    }
    .mypage-submenu{
        background-color: #ebebeb;
        padding: 10px;
        margin-left: -40px;
        position: absolute;
        z-index: 3;
    }
    .mypage-submenu li{
        list-style: none;
        font-size: 14px;
    }
    .mypage-submenu a{
        color:#2b2b2b;
    }
    .triangle{
        position: absolute;
        margin-top: 35px;
        margin-left: -25px;
    }
    .header-icon{
        width: 38px;
    }
