@charset "UTF-8";

    *{margin: 0; padding: 0;}
    #headerwrap{width: 100%;}
    a{text-decoration: none;}
    /* ul{list-style: none;padding-left: 0;} */

    /* top */
    #top{
        margin: 0 auto;
        width: 1080px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        left: 0px;
        margin-bottom: 30px;
    }
    #top > ul{
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    #top > ul > li {
        margin-right: 10px;
    }
    #top > ul > li:last-child{
        margin-right: 0;
    }
    #top > ul > li > a{
        color: #323231;
        font-size: 14px;
    }

    /* Header */
    #header{
        position: relative;
        margin: 0 auto;
        width: 1080px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #header > p{
        position: relative;
        margin-left: 200px;
        width: 470px;
        height: 50px;
    }
    #header > p > img{
        position: absolute;
        right: 20px;
        top: 25%;
    }
    #header > p > input[type=text]{
        width: 100%;
        height: 100%;
        border: 0;
        text-align: center;
        border-radius: 15px;
        background-color: #ebebeb;
        font-size: 18px;
    }
    #header > p > input[type=text]:focus{
        outline: 1px solid #3d5bf2;
    }

    /* Menu */
    #menu{
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #ebebeb;
    }
    #menu > ul{
        width: 1080px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    #menu > ul > li > h1 > a{
        color: #4b4b4b;
    }
    #menu > ul > li {
        position: relative;
    }
    .linkhover::before{
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        width: 0%;
        height: 3px;
        background-color: #fee469;
        transition: all 250ms ease-in-out;
    }
    .linkhover:hover::before{
        width: 100%;
        left: 0;
    }
