#page-nav-wrap{
    width: 100%;
    border-bottom: 1px solid #6d6d6d;
}
#page-nav{
    margin: 0 auto;
    width: 1080px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #6d6d6d;  
}
#joinwrap {
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
}
#joinform-top {
    font-size: 18px;
    font-weight: bold;
    color: #292929;
    border-bottom: 2px solid #292929;
    padding: 0 0 15px 30px;
}
.joinform-subtitle {
    font-size: 16px;
    color: #505050;
    width: 150px;
}
.passwordinfo {
    font-size: 13.5px; 
    color:#d7d7d7;
    padding-bottom: 30px;
}
.joinform-input {
    font-size: 14px;
    color: #505050;
    width: 450px;
    height: 35px;
    border: 1px solid #d7d7d7;
    padding-left: 20px;
}
.joinform-input2 {
    font-size: 14px;
    color: #505050;
    width: 320px;
    height: 35px;
    border: 1px solid #d7d7d7;
    padding-left: 20px;
}
#joinform-table {
    width: 650px;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    padding: 12px 0 12px 27px;
    margin-top: 70px;
}
.joinform-table {
    padding: 12px 0 20px 27px;
}
.btndiv {
	display: flex;
}
.checkbutton {
	display: flex;
	justify-content: center;
  	align-items: center;
    border: 1px solid #505050;
    border-radius: 10px;
    width: 123px;
    height: 35px;
    font-size: 16px;
    margin-left: 7px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}
.checkbutton:hover {
	background-color: #fee469;
	border: none;
}
.joinform-button {
    font-weight: 500;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
}
.joinform-cancel {
    border: 1px solid #505050;
    background-color: white;
    color: #505050;
    margin-right: 10px;
}
.joinform-confirm {
    border: none;
    background-color: #3d5bf2;
    color: white;
}
.joinform-tr {
    height: 50px;
}
.joinform-buttonwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.joinform-check {
    display: flex;
    padding-bottom: 10px;
}
.joinform-check2 {
    display: flex;
    padding-top: 16px;
}
.joinform-span {
    margin-left: 5px;
    margin-right: 30px;
    color: #505050;
}
/* 노란색체크 */
.yellowCheckbox {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #d7d7d7;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.yellowCheckbox {
  border-radius: 50%;
}
.yellowCheckbox::before, .yellowCheckbox::after {
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #fee469;
  box-sizing: border-box;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  transition: opacity ease 0.5;
}
.yellowCheckbox::before, .yellowCheckbox::after {
    /* 체크모양 색깔 */
  background-color: #292929;
}
.yellowCheckbox::before {
  top: 14.4px;
  left: 8.2px;
  box-shadow: 0 0 0 1px transparent;
  transform: rotate(-135deg);
}
.yellowCheckbox::after {
  top: 7.4px;
  left: 1px;
  transform: rotate(-45deg);
}

input[id="yellowCheckbox1"]:checked + .yellowCheckbox, input[id="yellowCheckbox2"]:checked + .yellowCheckbox, input[id="yellowCheckbox3"]:checked + .yellowCheckbox{
  border-color: #fee469;
  background-color: #fee469;
}
input[id="yellowCheckbox1"]:checked + .yellowCheckbox::after, input[id="yellowCheckbox2"]:checked + .yellowCheckbox::after, input[id="yellowCheckbox3"]:checked + .yellowCheckbox::after {
  height: 10px;
  animation: bottomcheck 0.2s ease 0s forwards;
}
input[id="yellowCheckbox1"]:checked + .yellowCheckbox::before, input[id="yellowCheckbox2"]:checked + .yellowCheckbox::before, input[id="yellowCheckbox3"]:checked + .yellowCheckbox::before {
  height: 24px;
  animation: topcheck 0.4s ease 0s forwards;
}
.checkinput {
	display: none;
}
@keyframes bottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}
@keyframes topcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}