#page-nav-wrap{
    width: 100%;
    border-bottom: 1px solid #6d6d6d;
}
#page-nav{
    margin: 0 auto;
    width: 1080px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #6d6d6d;  
}
.join-step {
  width: 100%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f5f5f5;
}
.step-font {
    margin-left: 35px;
    font-size: 18px;
    color: #6d6d6d;
}
#step-font {
    font-weight: bold;
    color: #292929;
}
#joinActionwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
}
#welcome {
    font-size: 32px;
    color: #292929;
    text-decoration: 2px underline;
    text-underline-position: under;
}
#action {
    font-size: 18px;
    color: #505050;
    font-weight: 500;
    margin: 5px 0 40px 0;
}
.joinAction-button {
    font-weight: 500;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 150px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #3d5bf2;
    color: white;
}